<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Manager - Manage Passwords</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>KeyKnight Password Manager</h1>

    <!-- Display Passwords -->
    <h2>My Passwords</h2>
    <ul>
        {% for password in user.passwords %}
            <li>{{ password.website }} - {{ password.username }} - {{ password.password }}
                <a href="{{ url_for('edit_password', password_id=password.id) }}">Edit</a>
                <form action="{{ url_for('delete_password', password_id=password.id) }}" method="POST" style="display: inline;">
                    <input type="submit" value="Delete">
                </form>
            </li>
        {% endfor %}
    </ul>

    <!-- Form Add New Password -->
    <h2>Add New Password</h2>
    <form action="{{ url_for('password_manager', user_id=user.id) }}" method="POST">
        <label for="website">Website:</label><br>
        <input type="text" id="website" name="website" required><br>
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br>
        <input type="submit" value="Add Password">
    </form>
</body>
</html>
