<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Password</title>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='landing.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <!-- Navigation -->
    <nav>
        <div class="container">
            <div id="KeyKnightNavText">
                <img src="{{ url_for('static', filename='fulllogofixed.png') }}" alt="Logo Icon" class="fulllogofixed">
            </div>
            <button class="hamburger hmaburgerbuttonstyle" id="menu-toggler">&#9776;</button>

            <div class="nav-buttons">
                <div class="nav-background">
                    <ul class="nav-menu" id="hamburger-overlay">
                        <li class="menu-item"><a href="javascript:history.back()"><i class="fas fa-arrow-left"></i> Back</a></li>
                    </ul>
                </div>
                <!-- Hamburger button -->
                <button class="hamburger" onclick="toggleHamburgerOverlay()">
                    <div class="hamburger-line hamburger-line-top"></div>
                    <div class="hamburger-line hamburger-line-middle"></div>
                    <div class="hamburger-line hamburger-line-bottom"></div>
                </button>
            </div>
        </div>
    </nav>
    <!-- Secure Notes Content -->
    <div class="sc-container">
        <div class="sc-cont">
            <h1 class="sc-title">Edit Password</h1>
        </div>
        <div class="sc-notes-container">
            <form action="{{ url_for('edit_password', password_id=password.id) }}" method="POST" class="edit-password-form">
                <div class="form-container">
                    <div class="form-section">
                        <div class="form-content">
                            <label class="ep-label" for="website">Website:</label><br>
                            <input type="text" id="website" name="website" value="{{ password.website }}" required><br>
                            <label class="ep-label" for="username">Username:</label><br>
                            <input type="text" id="username" name="username" value="{{ password.username }}" required><br>
                            <label class="ep-label" for="password">Password:</label><br>
                            <input type="password" id="password" name="password" value="{{ password.password }}" required><br>
                        </div>
                    <label class="val-dur" for="validityDuration">Validity Duration (in months):</label>
                    <input type="number" id="validityDuration" name="validity_duration" min="1" max="12" required><br>
                    <input class="ep-button" type="submit" value="Save Changes">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script>
        // Toggle Hamburger Overlay Visibility
        function toggleHamburgerOverlay() {
            var overlay = document.getElementById("hamburgerOverlay");
            overlay.classList.toggle("active");
        }

        // Close Hamburger Overlay
        function closeHamburgerOverlay() {
            var overlay = document.getElementById("hamburgerOverlay");
            overlay.classList.remove("active");
        }

        document.addEventListener('DOMContentLoaded', function() {
            const menuBtn = document.getElementById('menu-toggler');
            const overlay = document.getElementById('hamburger-overlay');

        // Toggle Overlay Visibility
            function toggleOverlay() {
                overlay.classList.toggle('active');
            }

            // Event Listener for Menu Button
            menuBtn.addEventListener('click', toggleOverlay);
        });

        // Toggle Login and Register Form Visibility
        function openLoginFormOverlay() {
            // Close Hamburger Overlay
            document.querySelector('.overlay-hamburger').classList.remove('active');
            // Login Form Overlay
            document.getElementById('login-overlay').classList.add('active');
        }

        // Event Listener Login Button
        document.getElementById('loginButton').addEventListener('click', openLoginFormOverlay);
    </script>
</body>
</html>
