<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='sample.css') }}">
    <title>KeyKnight</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
            <!-- Loading Splash Screen -->
    <div class="splashBody">
        <div class="SplashScreen" id="splashScreen">
            <div class="loadingContainer">
                <div class="loadingBox">
                    <img src="{{ url_for('static', filename='splash.gif') }}" class="splashLogo" alt="Splash Logo">
                    <div class="loadingBarContainer">
                        <div class="loadingbar"></div>
                    </div>
                    <div class="loadingCircle">
                        <div class="circleOuter"></div>
                        <div class="circleLoader"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <header>

    <!-- Top Nav bar including Hamburger Menu -->
    <nav>
        <div class="container">
          <div id="KeyKnightNavText">
            <img src="{{ url_for('static', filename='fulllogofixed.png') }}" alt="Logo Icon" class="fulllogofixed">
        </div>
          <button class="hamburger" id="menu-toggler">&#9776;</button>

          <div class="nav-buttons">
        <div class="nav-background">
            <ul class="nav-menu" id="hamburger-overlay">
            </ul>
        </div>
          </div>
        </div>

    </div>
    </div>

    <!-- Top Nav bar including Hamburger Menu -->
    <div class="logo-heading-container">
        <div class="profile-icon">
            <img src="{{ url_for('static', filename='user.png') }}" alt="User Profile Icon" id="profile-icon">
            <div class="dropdown-content" id="myDropdown">
                <span class="login-username">{{ current_user.username }}</span>
                <a href="{{ url_for('logout') }}">Logout</a>
            </div>
        </div>
    </div>
        <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
        // Splash Screen Script
    $(document).ready(function () {
        // Disable scroll while splash is active
        $('body').css('overflow', 'hidden');
        // Animations
        $('.loadingbar').delay(1500).animate({ left: '0' }, 3000);
        $('.loadingBox').delay(500).animate({ opacity: '1' }, 1000);
        $('.loadingCircle').delay(4500).animate({ opacity: '0' }, 500);
        $('.SplashScreen').delay(4500).fadeOut(1500, function() {
        // Enable scrolling after splash is hidden
        $('body').css('overflow', 'auto');
        $('.loadingContainer').hide(); // Hide loading container completely
    });
        // Animations fading out
        $('.loadingCircle').delay(4500).fadeOut(1500);
        $('.loadingBox').delay(4500).fadeOut(1500);
        $('.loadingbar').delay(4500).fadeOut(1500);
        $('.splashLogo').delay(4500).fadeOut(1500);
        $('.SplashScreen').delay(4500).fadeOut(1500);
        $('.loadingContainer').delay(4500).fadeOut(1500);

        // Page Fade-in
        $(window).on('load', function () {
            $('body').hide().fadeIn(1500);
        });
    });


       // Toggle Hamburger Overlay Visibility
function toggleHamburgerOverlay() {
  var overlay = document.getElementById("hamburgerOverlay");
  overlay.classList.toggle("active");
}
// Close Hamburger Overlay
function closeHamburgerOverlay() {
  var overlay = document.getElementById("hamburgerOverlay");
  overlay.classList.remove("active");
}       
        document.addEventListener('DOMContentLoaded', function() {
    const menuBtn = document.getElementById('menu-toggler');
    const overlay = document.getElementById('hamburger-overlay');
    // Toggle Overlay visibility
    function toggleOverlay() {
        overlay.classList.toggle('active');
    }
    // Menu Button Event Listener
    menuBtn.addEventListener('click', toggleOverlay);
});
        // Form Overlays and Menu Toggling
document.addEventListener('DOMContentLoaded', function() {
    const loginBtn = document.querySelector('.login-btn');
    const registerBtn = document.querySelector('.register-btn');
    const loginForm = document.getElementById('loginForm');
    const registerForm = document.getElementById('registerForm');
    const menuBtn = document.querySelector('.hamburger');
    const navMenu = document.querySelector('.nav-menu');
    // Login Form Visibility
    function toggleLoginForm() {
        loginForm.classList.toggle('active');
    }
    // Register Form Visibility
    function toggleRegisterForm() {
        registerForm.classList.toggle('active');
    }
    // Menu Visibility
    function toggleMenu() {
        navMenu.classList.toggle('active');
    }
    // Close Forms When Clicking Outside
    window.addEventListener('click', function(event) {
        if (event.target == loginForm) {
            toggleLoginForm();
        }
        if (event.target == registerForm) {
            toggleRegisterForm();
        }
    });

    

    // Event Listeners for Login and Register Buttons
    loginBtn.addEventListener('click', toggleLoginForm);
    registerBtn.addEventListener('click', toggleRegisterForm);
    // Event Listener for Menu Button
    menuBtn.addEventListener('click', toggleMenu);
});

/* Hamburger Menu Java */
 // Get Close button 
 const closeButton = document.querySelector('.close-hamburger-btn');
  // Get Hamburger Overlay
  const hamburgerOverlay = document.querySelector('.overlay-hamburger');
  // Event Listener for Close Button
  closeButton.addEventListener('click', function() {
    // Hide Hamburger Overlay
    hamburgerOverlay.classList.remove('active');
  });
  function goToAboutSection() {
    // Close Hamburger Overlay
    document.querySelector('.overlay-hamburger').classList.remove('active');
    // Scroll to About Section
    const aboutSection = document.getElementById('about-section');
    aboutSection.scrollIntoView({ behavior: 'smooth' });
}

// Event Listener for About Button
document.getElementById('aboutButton').addEventListener('click', goToAboutSection);


// Open Login Form Overlay
function openLoginFormOverlay() {
    // Close Hamburger Overlay
    document.querySelector('.overlay-hamburger').classList.remove('active');
    // Open Login Overlay
    document.getElementById('login-overlay').classList.add('active');
}

// Event Listener Login Button
document.getElementById('loginButton').addEventListener('click', openLoginFormOverlay);

</script>


</nav>
    </header>
            <!-- Vertical Side Nav Menu Items -->
    <div class="container">
        <div class="hamburger-menu" onclick="toggleMenu()">
            <i class="fas fa-bars"></i>
        </div>
        <div class="vertical-nav">
            <section>
                <ul>
                    <li><a href="#" class="nav-link" data-target="passwords-page"><i class="fas fa-key"></i> Passwords</a></li>
                    <li><a href="#" class="nav-link" data-target="secure-notes-page"><i class="fas fa-sticky-note"></i> Secure Notes</a></li>
                    <li><a href="#" class="nav-link" data-target="personal-info-page"><i class="fas fa-bell"></i> Personal Alerts</a></li>
                    <li><h3>SECURITY TOOLS</h3></li>
                    <li><a href="#" class="nav-link" data-target="password-health-page"><i class="fas fa-shield-alt"></i> Password Health</a></li>
                    <li><a href="#" class="nav-link" data-target="data-breach-detection-page"><i class="fas fa-user-secret"></i> Data Breach Detection</a></li>
                    <li><a href="#" class="nav-link" data-target="password-generator-page"><i class="fas fa-random"></i> Password Generator</a></li>
                    <li><a href="#" class="nav-link" data-target="password-expiration-page"><i class="fas fa-hourglass-end"></i> Password Expiration</a></li>
                    <li><a href="#" class="nav-link" data-target="password-strength-page"><i class="fas fa-chart-bar"></i> Password Strength</a></li>
                </ul>
            </section>
        </div>



        

        <div class="content" id="content-area">
            <!-- Password Page Content -->
            <div id="passwords-page" class="page">
                <div class= "button-container">
                    <button class="firstbutton" id="addNewButton">+ Add New</button>
                </div>
                <h2>My Passwords </h2>
                <ul class="passwords">
                    <li id="addpassformbox" >
            <!-- Add New Password Form Box -->
                   <div id="addNewPasswordBox">                    
                    <form id="addPasswordForm" action="{{ url_for('password_manager', user_id=user.id) }}" method="POST">
                        <h2>Add New Password</h2>
                        <label for="website">Website:</label>
                        <input type="text" id="website" name="website" required><br>
                        <label for="username">Username:</label>
                        <input type="text" id="username" name="username" required><br>
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" required><br>
                        <div class="generate-password">
                        <input type="checkbox" id="generatePassword" name="generatePassword">
                        <label for="generatePassword">Generate Password<br></label><br>
                        <label for="validityDuration">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Validity Duration (in months):</label>
                        <input type="number" id="validityDuration" name="validity_duration" min="1" max="12" required><br>
                        </div>
                        <div class="button">
                        <button type="submit" id="add-password">Add Password</button>
                        <button type="reset" id="cancel">Cancel</button>
                        </div>
                    </form>
                </div>
                <!-- Passwords Page Rows Content -->
            <div class="password-box">
                <ul>
                    {% for password in user.passwords|reverse %}
                    <li class="password-section" data-password-id="{{ password.id }}" 
                    data-website="{{ password.website }}" data-username="{{ password.username }}" data-password="{{ password.password }}" data-strength="{{ password.strength }}" data-validity="{{ password.validity_duration }}">
                        <div class="password-content">
                            <span class="pb-website"><span class="passwordmanagerlabel"> Website:&nbsp;</span> {{ password.website }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="username"><span class="passwordmanagerlabel"> Username:&nbsp;</span> {{ password.username }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="password"><span class="passwordmanagerlabel"> Password:&nbsp;</span> {{ password.password }}</span>
                        </div>
                    </li>
                {% endfor %}
                </ul>
            </div>
            </div><!--ENDING PASSWORDS-PAGE SECTION DIV-->

            
            <!-- Scure Notes Page -->
            <div id="secure-notes-page" class="page" style="display: none;">
                <h2>Secure Notes</h2>
                <form id="secure-notes-form" action="{{ url_for('save_secure_note') }}" method="POST">
                    <label for="title">Title:<span>*</span></label>
                    <input type="text" id="title" name="title" placeholder="Title" required><br><br>
                    <label for="content">Secure Note:</label>
                    <textarea id="content" name="content" placeholder="Secure Note" required></textarea><br><br>
                    <div class="secure-notes-buttons">
                        <button type="submit" id="save">Save</button>
                        <button type="button" id="cancel">Cancel</button>
                    </div>
                </form>
                
                    <button type="button" id="ssc-button">Saved Secure Notes</button>
            </div>
            <div id="personal-info-page" class="page" style="display: none;">
                <!-- Personal Info Page -->
                <h2>Personal Alerts</h2>
    <div>
        <!-- Flashed Messages -->
        {% if flashed_messages %}
        {% for message in flashed_messages | reverse %}
            <div class="alert alert-{{ message.category }}">
                <i class="fas fa-bell"></i>
                {{ message.message }}
            </div>
        {% endfor %}
    {% endif %}    
    </div>
            
        </div>
                 <!-- Personal Info Page -->
            <div id="password-health-page" class="page" style="display: none;">
                <h2 class="phheader" >Password Health</h2>
                <hr></hr>
                <section class="phcontent-unique">
                    <div class="phcontent">
                      <div class="phcontent-inner">
                        <img class="phlogo-unique" src="{{ url_for('static', filename='shieldx.png') }}" alt="Logo 1">
                        <div class="phtext-container-unique">
                          <h2>Weak Passwords</h2>
                          <div class="phcontent-text-unique">
                            <p>Your Accounts are easier to Hack</p>
                            <p>Please Consider Changing this Immediately!</p>
                          </div>
                        </div>
                      </div>
                      <div class="phhorizontal-text-unique">
                        <p>Number of Weak Passwords: <span id="weak-passwords-info"></span></p>
                      </div>
                    </div>
                  </section>
                  
                  <section class="phcontent-unique">
                    <div class="phcontent">
                      <div class="phcontent-inner">
                        <img class="phlogo-unique" src="{{ url_for('static', filename='copies.png') }}" alt="Logo 2">
                        <div class="phtext-container-unique">
                          <h2>Reused Passwords</h2>
                          <div class="phcontent-text-unique">
                            <p>These are used on Multiple Accounts</p>
                            <p>Please Consider changing some of these up!</p>
                          </div>
                        </div>
                      </div>
                      <div class="phhorizontal-text-unique">
                        <p>Number of Reused Passwords: <span id="reused-passwords-info"></span></p>
                      </div>
                    </div>
                  </section>
                  
                  <section class="phcontent-unique">
                    <div class="phcontent">
                      <div class="phcontent-inner">
                        <img class="phlogo-unique" src="{{ url_for('static', filename='clok.png') }}" alt="Logo 3">
                        <div class="phtext-container-unique">
                          <h2>Old Passwords</h2>
                          <div class="phcontent-text-unique">
                            <p>These Passwords are Very Old!</p>
                            <p>Please Consider a Newer Password!</p>
                          </div>
                        </div>
                      </div>
                      <div class="phhorizontal-text-unique">
                        <p>Number of Expiring Passwords: <span id="expiring-passwords-info"></span></p>
                      </div>
                    </div>
                  </section>
            </div>
                <!-- Data Breach Detection Page -->
            <div id="data-breach-detection-page" class="page" style="display: none;">
                <h2>Data Breach Detection</h2>
                <div class="dbbsp-body">
    <img class="dbbsp-mainlogo" src="{{ url_for('static', filename='radar.png') }}" alt="Placeholder Image">
    <div class="dbbsp-container">
        <section class="dbbsp-section">
            <div class="dbbsp-logo">
                <img src="{{ url_for('static', filename='lock.png') }}" alt="Logo lock">
            </div>
            <div class="dbbsp-content1">
                <h2>Scan for any data breaches</h2>
                <p>Check to see if any of your personal infomatioon have been exposed on the Internet</p>
            </div>
        </section>
        <section class="dbbsp-section">
            <div class="dbbsp-logo">
                <img src="{{ url_for('static', filename='bell.png') }}" alt="Logo bell">
            </div>
            <div class="dbbsp-content2">
                <h2>Notified of any new alerts</h2>
                <p>Reduce your risk from identity theft by responding swiftly after a breach</p>
            </div>
        </section>
        <section class="dbbsp-section">
            <div class="dbbsp-logo">
                <img src="{{ url_for('static', filename='shieldy.png') }}" alt="Logo shieldy">
            </div>
            <div class="dbbsp-content3">
                <h2>Receive Security Advice</h2>
                <p>Learn how to protect your data and ehance your security online</p>
            </div>
            <!-- Data Breach Detection Page Scan For Breaches Button -->
                    </div>
                </div>
                <button class="passwordscanbtn" id="scanPasswordsBtn">
                    <a href="{{ url_for('compromised_passwords', user_id=current_user.id) }}">Scan Passwords for Breaches</a>
                </button>
            </div>
                <!-- Password Generator Page -->
            </div>
            <div id="password-generator-page" class="page" style="display: none;">
                <h2>Password Generator</h2>
                <div class="passgen-container">
                    <div class="generated-password">
                        <div class="gp">
                        <span class="genpass"id="generatedPassword"></span>
                        </div>
                        <div class="passgen-buttons">
                            <button>Generate</button>
                            <button>Copy</button>
                        </div>
                    </div>
                        <div class="passgen-container-content-2">
                            <h3>Length</h3>
                            <div class="slider-container">
                                <input type="range" min="8" max="20" value="14" class="slider-bar" id="mySlider">
                            </div>
                            <!-- Rounded Switches Pass Gen -->
                        </div>
                        <div class="passgen-container-content-3">
                            <div class="Caps">
                                <h3>Add Capital Letters (A-Z)</h3>
                                <label class="switch">
                                    <input type="checkbox" id="includeCapitalLetters">
                                    <span class="slider"></span>
                                </label>
                            </div>
                        </div>
                        <div class="passgen-container-content-4">
                            <div class="digits">
                                <h3>Add Digits (0-9)</h3>
                                <label class="switch">
                                    <input type="checkbox" id="includeDigits">
                                    <span class="slider"></span>
                                </label>
                            </div>
                        </div>
                        <div class="passgen-container-content-5">
                            <div class="symbols">
                                <h3>Add Symbols (!@#$%^&*)</h3>
                                <label class="switch">
                                    <input type="checkbox" id="includeSymbols">
                                    <span class="slider"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Password Expiration Page -->
            <div id="password-expiration-page" class="page" style="display: none;">
                <h1>Password Expiration</h1>
                <div class="passwords">
                    {% for password in sorted_expiration %}
                    <div class="password {% if password.validity_duration <= 3 %}weak{% elif password.validity_duration > 3 and password.validity_duration <= 9 %}medium{% elif password.validity_duration > 9 %}strong{% endif %}">
                        <p><strong>Website:</strong> {{ password.website }}</p>
                        <p><strong>Username:</strong> {{ password.username }}</p>
                        <p><strong>Password:</strong> {{ password.password }}</p>
                        <p><strong>Validity Duration:</strong> {{ password.validity_duration }}</p>
                    </div>
                    {% endfor %}
                </div>
        </div>


        <div id="password-strength-page" class="page" style="display: none;">
            <h1>Password Strength</h1>
            <div class="passwords">
                {% for password in sorted_strength %}
                <div class="password
                {% if password.strength == 0 %}
                    very-weak strength-color-0
                {% elif password.strength == 1 %}
                    weak strength-color-1
                {% elif password.strength == 2 %}
                    medium strength-color-2
                {% elif password.strength == 3 %}
                    strong strength-color-3
                {% elif password.strength == 4 %}
                    very-strong strength-color-4
                {% endif %}">
            
                    <p><strong>Website:</strong> {{ password.website }}</p>
                    <p><strong>Username:</strong> {{ password.username }}</p>
                    <p><strong>Password:</strong> {{ password.password }}</p>
                    <p><strong>Strength:</strong> {{ password.strength }}</p>
                </div>
                {% endfor %}
            </div>
    </div>


        

        <div class="button-container">                    
        </div>
    </div>
    <div class="modal-overlay">
        <div class="modal-box">
            <span class="close-btn">&times;</span>
            <div class="placeholder-content">
                <img src="/static/logo.png" alt="KeyKnight">
                <h2>KeyKnight.com</h2>
            </div class="edit-container">
            <!-- <h2>Password Information</h2> -->
            <!-- Edit and Delete buttons -->
            <div>
            <div class="action-buttons">
                <a href="#"><button class="edit-btn">Edit</button></a>
                <!-- <button class="copy-btn"></button> -->
                <button class="delete-btn">Delete</button>
            </div>
            
            <div class="po-info">
            <p><strong>Username or Email:<br></strong> <span class="username-info"></span></p>
            <p><strong>Password:<br></strong> <span class="password-info"></span></p>
            <p><strong>Password Health (Weak 0 - Strong 4):<br></strong> <span class="strength-info"></span></p>
            <p><strong>Website Address:<br></strong> <span class="website-info"></span></p>
            <p><strong>Validity Duration:<br></strong> <span class="validity-info"></span> months</p>
            </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Initially Show Passwords Page
            document.getElementById('passwords-page').style.display = 'block';

            // Event Listener Nav Links
            var navLinks = document.querySelectorAll('.nav-link');
            navLinks.forEach(function(navLink) {
                navLink.addEventListener('click', function(e) {
                    e.preventDefault();
                    var targetId = this.getAttribute('data-target');
                    showPage(targetId);
                });
            });

            

// Event Listener Showing Saved Secure Notes Page
document.getElementById('ssc-button').addEventListener('click', function() {
    window.location.href = '/secure_notes';
});


    // Event Listener Submitting Secure Notes Form
    document.getElementById('secure-notes-form').addEventListener('submit', function(e) {
        e.preventDefault(); 
        // Serialize Form Data
        var formData = new FormData(this);

        // Submit Form Dta utilizing Fetch API
        fetch(this.action, {
            method: this.method,
            body: formData
        })
        .then(response => {
            if (response.ok) {
                // Clear Form after Successful Submission
                document.getElementById('title').value = '';
                document.getElementById('content').value = '';
                // Optionally, Show Success Message
                alert('Secure note saved successfully!');
            } else {
                // Handle Error Response from Server
                alert('Failed to save secure note. Please try again.');
            }
        })
        .catch(error => {
            // Handle Network Error
            alert('Network error occurred. Please try again.');
        });
    });
        
            // Generate Password
function generatePassword() {
    var length = document.getElementById("mySlider").value;
    var includeCapitalLetters = document.getElementById("includeCapitalLetters").checked;
    var includeDigits = document.getElementById("includeDigits").checked;
    var includeSymbols = document.getElementById("includeSymbols").checked;
    var charset = "";
    var lowercaseLetters = "abcdefghijklmnopqrstuvwxyz";
    var uppercaseLetters = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
    var digits = "0123456789";
    var symbols = "!@#$%^&*";
    charset += lowercaseLetters;
    if (includeCapitalLetters) charset += uppercaseLetters;
    if (includeDigits) charset += digits;
    if (includeSymbols) charset += symbols;
    var password = "";
    for (var i = 0; i < length; i++) {
        password += charset.charAt(Math.floor(Math.random() * charset.length));
    }
    var generatedPasswordElement = document.getElementById("generatedPassword");
    generatedPasswordElement.textContent = password;
    // Print Generated Password to Console
    console.log("Generated Password:", password);
    return password;
}
// Copy Password to Clipboard
function copyPassword() {
    var password = generatePassword();
    var tempInput = document.createElement("input");
    tempInput.value = password;
    document.body.appendChild(tempInput);
    tempInput.select();
    document.execCommand("copy");
    document.body.removeChild(tempInput);
}

// Add Event Listener Generate Button
document.querySelector(".passgen-buttons button:first-of-type").addEventListener("click", generatePassword);

// Add Event Listener Copy Button
document.querySelector(".passgen-buttons button:last-of-type").addEventListener("click", copyPassword);

// Add Event Listeners for Sliders and Switches
var sliders = document.querySelectorAll(".slider-bar");
sliders.forEach(function(slider) {
    slider.addEventListener("input", generatePassword);
});

var switches = document.querySelectorAll("input[type='checkbox']");
switches.forEach(function(switchElement) {
    switchElement.addEventListener("change", generatePassword);
});






// Event Listener Each Password Section
var passwordSections = document.querySelectorAll('.password-section');
passwordSections.forEach(function(passwordSection) {
    passwordSection.addEventListener('click', function() {
        var modalOverlay = document.querySelector('.modal-overlay');
        modalOverlay.style.display = 'block';
        var passwordId = this.dataset.passwordId; // Retrieve Password ID Data Attribute
        var editBtn = modalOverlay.querySelector('.edit-btn');
        var deleteBtn = modalOverlay.querySelector('.delete-btn'); // Select Delete button

        // Update Edit Button
        editBtn.addEventListener('click', function() {
            // Redirect Edit Password Page
            window.location.assign('/edit_password/' + passwordId);
        });

        // Update Delete Button Action
        deleteBtn.addEventListener('click', function() {
            // Delete Action
            // Send Request to Flask route to Delete Password
            fetch('/delete_password/' + passwordId, { method: 'POST' })
                .then(response => {
                    if (response.ok) {
                        // Password Deleted Successfully, Handle UI Updates
                        // Close Modal Overlay 
                        // Remove Password Section from UI
                        var modalOverlay = document.querySelector('.modal-overlay');
                        modalOverlay.style.display = 'none';
                        var passwordSection = document.querySelector('.password-section[data-password-id="' + passwordId + '"]');
                        if (passwordSection) {
                            passwordSection.remove(); 
                        }
                    } else {
                        // Handle Error Response from Server
                    }
                })
                .catch(error => {
                    // Handle Network Error
                });
        });
    });
});

document.addEventListener("DOMContentLoaded", function() {
    // Attach Event Listener Secure Note Form
    document.getElementById('secure-note-form').addEventListener('submit', function(event) {
        event.preventDefault(); 
        // Serialize Form Data
        var formData = new FormData(this);
        
        // Send AJAX Request to Save Secure Note
        fetch('/save_secure_note', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            // Display Success Message
            alert(data.message);
        })
        .catch(error => {
            console.error('Error:', error);
            // Handle Errors
        });
    });
});



            // Event Listener for each Password Section
            var passwordSections = document.querySelectorAll('.password-section');
passwordSections.forEach(function(passwordSection) {
    passwordSection.addEventListener('click', function() {
        var modalOverlay = document.querySelector('.modal-overlay');
        modalOverlay.style.display = 'block';
        var websiteInfo = modalOverlay.querySelector('.website-info');
        var usernameInfo = modalOverlay.querySelector('.username-info');
        var passwordInfo = modalOverlay.querySelector('.password-info');
        var strengthInfo = modalOverlay.querySelector('.strength-info');
        var validityInfo = modalOverlay.querySelector('.validity-info');
        
        // Retrieve Password Data Attributes
        var website = this.dataset.website;
        var username = this.dataset.username;
        var password = this.dataset.password;
        var strength = this.dataset.strength;
        var validity = this.dataset.validity;
        
        // Update Modal Overlay Content
        websiteInfo.textContent = website;
        usernameInfo.textContent = username;
        passwordInfo.textContent = password;
        strengthInfo.textContent = strength;
        validityInfo.textContent = validity;
    });

    
});

            // Event Listener for Closing Modal Overlay
            var closeBtn = document.querySelector('.close-btn');
            closeBtn.addEventListener('click', function() {
                var modalOverlay = document.querySelector('.modal-overlay');
                modalOverlay.style.display = 'none';
            });
            // Event Listener for Clicking Outside Modal Box
            var modalOverlay = document.querySelector('.modal-overlay');
            modalOverlay.addEventListener('click', function(event) {
                if (event.target === modalOverlay) {
                    modalOverlay.style.display = 'none';
                }
            });
            // Event Listener for Displaying Add Password Form
            document.getElementById('addNewButton').addEventListener('click', function() {
                var addNewPasswordBox = document.getElementById('addNewPasswordBox');
                if (addNewPasswordBox.style.display === 'none') {
                    addNewPasswordBox.style.display = 'block';
                } else {
                    addNewPasswordBox.style.display = 'none';
                }
            });
    
            // Event Listener for Generating Random Password
            document.getElementById('generatePassword').addEventListener('change', function() {
                var passwordField = document.getElementById('password');
                if (this.checked) {
                    // Generate Random Password and Populate Password Field
                    var randomPassword = generateRandomPassword();
                    passwordField.value = randomPassword;
                } else {
                    // Clear Password Field
                    passwordField.value = '';
                }
            });

            function generateRandomPassword() {
                var length = 12;
                var characters = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789!@#$%^&*()-_=+';
                var password = '';
                for (var i = 0; i < length; i++) {
                    var randomIndex = Math.floor(Math.random() * characters.length);
                    password += characters.charAt(randomIndex);
                }
                return password;
            }




//  Update Password Health Info
function updatePasswordHealthInfo() {
    fetch('/password_health_info')
        .then(response => response.json())
        .then(data => {
            // Update Content each Section
            document.getElementById('weak-passwords-info').textContent = data.weak_passwords_count;
            document.getElementById('reused-passwords-info').textContent = data.reused_passwords_count;
            document.getElementById('expiring-passwords-info').textContent = data.expiring_passwords_count;
        })
        .catch(error => {
            console.error('Error:', error);
        });
}
// Update Content when Page Loads
updatePasswordHealthInfo();
            function showPage(pageId) {
                // Hide all Pages
                var pages = document.querySelectorAll('.page');
                pages.forEach(function(page) {
                    page.style.display = 'none';
                });

                // Show the Selected Page
                document.getElementById(pageId).style.display = 'block';
            }
        });
        document.addEventListener('DOMContentLoaded', function() {
    const menuBtn = document.getElementById('menu-toggler');
    const overlay = document.getElementById('overlay');
    // Toggle Overlay Visibility
    function toggleOverlay() {
        overlay.classList.toggle('active');
    }

    // Event Listener Menu Button
    menuBtn.addEventListener('click', function() {
        toggleOverlay();
    });

    // Close Overlay Clicking Outside Menu
    overlay.addEventListener('click', function() {
        toggleOverlay();
    });
});



    </script>
<div id="overlay" class="overlay">
  <div class="overlay-content">
        <ul>
            <li><a href="#" class="nav-link" data-target="passwords-page"><i class="fas fa-key"></i> Passwords</a></li>
            <li><a href="#" class="nav-link" data-target="secure-notes-page"><i class="fas fa-sticky-note"></i> Secure Notes</a></li>
            <li><a href="#" class="nav-link" data-target="personal-info-page"><i class="fas fa-bell"></i> Personal Alerts</a></li>
            <li><h3>SECURITY TOOLS</h3></li>
            <li><a href="#" class="nav-link" data-target="password-health-page"><i class="fas fa-shield-alt"></i> Password Health</a></li>
            <li><a href="#" class="nav-link" data-target="data-breach-detection-page"><i class="fas fa-user-secret"></i> Data Breach Detection</a></li>
            <li><a href="#" class="nav-link" data-target="password-generator-page"><i class="fas fa-random"></i> Password Generator</a></li>
            <li><a href="#" class="nav-link" data-target="password-expiration-page"><i class="fas fa-hourglass-end"></i> Password Expiration</a></li>
            <li><a href="#" class="nav-link" data-target="password-strength-page"><i class="fas fa-chart-bar"></i> Password Strength</a></li>
        </ul>
  </div>
</div>
</body>
</html>
